<html>
<head>
  <title>Online Calculator</title>
</head>
<body>
  <h2>Add</h2>
  <form action="/calculate_add" method="POST">
  	<input type="number" name="first_number" placeholder="1st number"> +
 	<input type="number" name="second_number" placeholder="2nd number">
 	  <button type="add">Add now</button>
</form> <br>
 <h2>Subtract</h2>
<form action="/calculate_subtract" method="POST">
  	<input type="number" name="first_number" placeholder="1st number"> -
 	<input type="number" name="second_number" placeholder="2nd number">
 	  <button type="subtract">Subtract now</button>
</form> <br>
<h2>Multiply</h2>
<form action="/calculate_multiply" method="POST">
  	<input type="number" name="first_number" placeholder="1st number"> *
 	<input type="number" name="second_number" placeholder="2nd number">
 	  <button type="multiply">Multiply now</button>
</form> <br>
<h2>Divide</h2>
<form action="/calculate_divide" method="POST">
  	<input type="number" name="first_number" placeholder="1st number"> /
 	<input type="number" name="second_number" placeholder="2nd number">
 	  <button type="divide">Divide now</button>
</form> <br>
</body>
</html>