<h1> Movie Game </h1>

<p>
  Showing
  <strong> <%= @movies.length %> </strong>
  results.
</p>

<p>Which movie was released in <%=@correct_movie.year%> </p>

<% @movies.each do |the_movie| %>
  <img src="<%= the_movie.poster%>" width="300px"> 
  <form action="/response" method="post">
  <input type="hidden" name="response_year" value=<%=the_movie.year%>>
  <button type="submit">Choose this</button>   
  </form> <br>
<% end %>



