<h1>Create New Post</h1>


  <form action="/create_post" method="POST">
  	<input type="text" name="title" placeholder="Title"> <br>
 	<input type="text" name="text" placeholder="Text">
 	 <button type="submit">Create Post</button>
 	</form>
 	