<h1> Company Page </h1>

<p> This company was founded in 2015 and raised 3 rounds of investment. </p>

<h2> Here are the rounds: </h2>

<ul>
	<li> Round 1 </li>
	<li> Round 2 </li>
	<li> Round 3 </li>
</ul>

<% if Date.today.tuesday? %>
	<p>
	Izzy Ironside is <strong>NOT</strong> a fan of Tuesdyas like today.
</p>
<% end %>

<p>
	Izzy Ironside was born on <% Date.today.tuesday?%>
</p>
